<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search APP</title>
</head>
<body>

  <h1>Search App</h1>

  {% for i in search_results %}

    <p>{{ i.name }}</p>
    <p>{{ i.snippet }}</p>
    <p>{{ i.url }}</p>
    <p>{{ i.video }}</p>
    <p>{{ i.primaryImageOfPage }}</p>

  {% endfor %}

</body>
</html>
