.navbar {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 10px;
  margin-bottom: -2rem;
  transition: 0.5s;
}

.logo {
  width: 200px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-list {
  flex: 1;
  list-style: none;
  text-align: center;
}

.nav-list li {
  display: inline-block;
  margin-top: 20px;
  float: left;
  margin-left: -30px;
  font-size: 50px;
  cursor: pointer;
  font-weight: 700;
  background: radial-gradient(#2a6cbc, #12acd7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.toggle-icon {
  width: 50px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 20px;
}

.dark .search-box input {
  background: white !important;
  border-radius: 50px;

  color: white !important;
  max-width: 200px !important;
  background: transparent !important;
}

.dark .search-box {
  background: white !important;
  transition: 0.5s;
}

.dark .search-box input::placeholder {
  color: black !important;
}

.dark .navbar {
  background: #232323 !important;
  color: white !important;
}

.dark .logo {
  width: 175px !important;
  margin-left: .8rem;
  margin-right: .8rem;
  transition: 0.5s;
}

.search-box {
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.5s;
}

.search-box input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  font-size: 18px;
  max-width: 200px;
}

.search-box input::placeholder {
  color: white;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}
