body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark .navbar {
  background: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background-toggle {
  background: white;
  transition: 0.5s;
}

.background-toggle.dark {
  background: #232323;
}

.main-container {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

.eighty {
  flex: 3;
  display: block;
  float: left;
}

.twenty {
  flex: 1;
  display: block;
  float: right;
}

main h2 {
  text-align:center;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0 0 1.5rem 0;
  color: #a18aba;
}

#item-tiles {
  padding: 2rem;
  border-radius: 6px;
  background-color: rgba(56, 107, 145, 0.381);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  color: white;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.dark #item-tiles {
  background-color: rgba(57, 81, 101, 0.381) !important;
}

.dark #item-tiles-right {
  background-color: rgba(57, 81, 101, 0.381) !important;
}

#item-tiles ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

#item-tiles li {
  width: 100%;
  text-align: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#item-tiles li p {
  width: 75%;
  text-align: left;
}

#item-tiles li img {
  float: right;
  border-color: rgba(255, 255, 255, 0);
}

#item-tiles li h3 {
  margin: 0.5rem 0;
}

#item-tiles li a {
  font-size: 0.7rem;
  background: radial-gradient(#2a6cbc, #12acd7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#item-tiles-right {
  padding: 2rem;
  border-radius: 6px;
  background-color: rgba(56, 107, 145, 0.381);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
  color: white;
  margin-right: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

#item-tiles-right ul {
  list-style: none;
  gap: 2rem;
}

#item-tiles-right li {
  width: 100%;
  text-align: center;
}

#item-tiles-right li img {
  height: 4rem;
  width: 6rem;
  object-fit: cover;
}

#item-tiles-right li h3 {
  margin: 0.5rem 0;
}

#item-tile-right li a {
  font-size: 0.6rem;
}

#title-decorator{
  font-size: 20px !important;
  text-decoration: none;
  color: white;
}

#url-decorator {
  margin-top: -2rem;
}

#title-decorator:hover {
  text-decoration: underline;
}

#description-text {
  margin-bottom: -0.2rem;
  font-size: 14px !important;
  /* float: inline-start; */
}

#hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0;
  border: none !important;
  z-index: -999;
  display: block;
}

.input-group {
  max-width: 40%;
  padding: 2rem;
}

#col-2-header {
  color: white;
}

.video {
  height: 300px;
  width: 300px;
}
